* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(48, 139, 218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    padding: 80px;
    background-color: white;
    border-radius: 30px;
}

.login-form h2 {
    text-align: center;
    color: rgb(223, 21, 129);
    font-size: 35px;
    margin-bottom: 25px;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 14px;
    border-style: solid;
    border-color: rgb(223, 21, 129);
}

.login-form button {
    border: none;
    background-color: rgb(223, 21, 129);
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.login-form button:hover {
    background-color: rgb(48, 139, 218);
}